<p>
    <b> Step 1 </b>: Place a barbell on the preacher bench barbell holder and sit on the preacher bench.</br>
    <br>
    <b> Step 2 </b>: Place your torso against the preacher bench padding and rest your arms against the arm padding.</br>
    <br>
    <b> Step 3 </b>: With your palms facing up, grasp the barbell with arms no wider than shoulder width apart. This is your starting position.</br>
    <br>
    <b> Step 4 </b>: Exhale as your raise the barbell to your shoulders.</br>
    <br>
    <b> Step 5 </b>: Hold the contraction for a moment as you squeeze the biceps.</br>
    <br>
    <b> Step 6 </b>: Inhale as you lower the barbell back toward the starting position.</br>
    <br>
    <b> Step 7 </b>: Repeat for a complete set.</br>
    <br>
</p>