<p>
    <b> Step 1 </b>: With a dumbbell in each hand, palms facing in, stand upright with your feet shoulder width apart and your arms down by your sides. This is your starting position.</br>
    <br>
    <b> Step 2 </b>: With straight arms, exhale as you raise the dumbbells out to the sides until your arms are parallel with the floor.</br>
    <br>
    <b> Step 3 </b>: Hold the contraction for a moment and then inhale as you lower the dumbbells back to your starting position.</br>
    <br>
    <b> Step 4 </b>: Repeat for a full set.</br>
    <br>
</p>