<p>
    <b> Step 1 </b>: Grasp a barbell with hands wider than shoulder width apart and your palms facing down.</br>
    <br>
    <b> Step 2 </b>: Keep your feet shoulder width apart and your knees slightly bent.</br>
    <br>
    <b> Step 3 </b>: Raise the barbell to your chest and then overhead and slightly forward for your starting position.</br>
    <br>
    <b> Step 4 </b>: Inhale as you slowly lower the bar back to your chest.</br>
    <br>
    <b> Step 5 </b>: Exhale as you slowly raise the bar back overhead to the starting position.</br>
    <br>
    <b> Step 6 </b>: Repeat for a complete set.</br>
    <br>
</p>